@charset "UTF-8";
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.page-header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

:root {
  --primery-text-color: #757575;
  --title-text-collor: #212121;
  --logo-text-collor: #212121;
  --accent--color: #2196f3;
  --hero-text-color: #ffffff;
  --bcg-color-body: #e5e5e5;
  --bcg-color-head: #ffffff;
  --bcg-clor-team: #f5f4fa;
  --bcg-color-footer: #2f303a;
  --bcg-color-button: #2196f3;
  --bcg-filter-botton: #f5f4fa;
  --activ-filter-botton: #2196f3;
  --text-hover-filter-botton: #ffffff;
  --text-filter-botton: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

.body {
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
}

.address {
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.nav-list {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav {
  display: flex;
}

.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .link {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover .contacts-icon,
.auth-nav .link:focus .contacts-icon {
  fill: var(--accent--color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent--color);
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  background: var(--bcg-color-head);
  letter-spacing: 0.02em;
  border: 1px solid #ececec;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
}

.profession {
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav .link {
  position: relative;
  display: block;
  color: var(--title-text-collor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent--color);
}

.site-nav .link .link.current {
  color: var(--accent--color);
}

.current::after {
  display: flex;
  content: '';
  height: 4px;
  position: absolute;
  align-items: center;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
  margin-top: 28px;
}

.contacts-icon {
  fill: #757575;
  flex-shrink: 0;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  margin-right: 93px;
  color: var(--accent--color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-color {
  color: var(--logo-text-collor);
}

.icon-logo {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients .link:hover .icon-logo,
.section-clients .link:focus .icon-logo {
  fill: var(--accent--color);
}

.footer-logo {
  display: block;
  padding-bottom: 20px;
  color: var(--accent--color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer .logo-color {
  color: #ffffff;
}

.nav-list {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav {
  display: flex;
}

.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .link {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover .contacts-icon,
.auth-nav .link:focus .contacts-icon {
  fill: var(--accent--color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent--color);
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  background: var(--bcg-color-head);
  letter-spacing: 0.02em;
  border: 1px solid #ececec;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
}

.profession {
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav .link {
  position: relative;
  display: block;
  color: var(--title-text-collor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent--color);
}

.site-nav .link .link.current {
  color: var(--accent--color);
}

.current::after {
  display: flex;
  content: '';
  height: 4px;
  position: absolute;
  align-items: center;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
  margin-top: 28px;
}

.contacts-icon {
  fill: #757575;
  flex-shrink: 0;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-weight: 400;
}

.contact-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.contact-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form-field + .contact-form-field {
  margin-top: 10px;
}

.contact-form-input {
  display: block;
  width: 100%;
  font-size: 16px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.contact-form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
}

.contact-form-message:focus,
.contact-form-input:focus {
  outline: none;
  border-color: var(--accent--color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-icon {
  fill: var(--accent--color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.contact-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-label-link {
  color: #2196f3;
}

.contact-form-check-policy:checked + .contact-form-policy-label::before {
  background-image: url(../img/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  border: 1px solid #2196f3;
}

.contact-form-check-policy:focus + .contact-form-policy-label::before {
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  border: 1px solid #2196f3;
}

.contact-form-policy-label {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.contact-form-policy-label::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-top: 25px;
  margin-right: 10px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-svg {
  position: absolute;
  height: 18px;
  width: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  background: #c4c4c4;
  text-align: center;
  letter-spacing: 0.06em;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--hero-text-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

.button {
  border: none;
  color: var(--hero-text-color);
  background: var(--bcg-color-button);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  min-width: 200px;
  cursor: pointer;
}

.button:hover, .button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.feature {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.feature .title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.feature .attention::before {
  content: '';
  width: 100%;
  height: 120px;
  background-image: url(../img/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature .attention::before {
  content: '';
  width: 100%;
  height: 120px;
  background-image: url(../img/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature .punctuality::before {
  content: '';
  width: 100%;
  height: 120px;
  background-image: url(../img/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature .planning::before {
  content: '';
  width: 100%;
  height: 120px;
  background-image: url(../img/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature .technologies::before {
  content: '';
  width: 100%;
  height: 120px;
  background-image: url(../img/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature .item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.feature .title {
  color: var(--title-text-collor);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feature-section {
  padding-top: 94px;
  padding-bottom: 47px;
}

.work-discription {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  padding: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.works-section {
  padding-top: 47px;
  padding-bottom: 94px;
}

.works-section .list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.works-section .item {
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-collor);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--bcg-clor-team);
}

.section-team .team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.section-team.item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team .list .title {
  color: var(--title-text-collor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section-team .list .profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.item-discription {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients .list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
  justify-content: space-between;
}

.section-clients .item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 6 - 30px);
}

.section-clients .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients .link:hover, .section-clients .link:focus {
  border: 1px solid var(--accent--color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--bcg-color-footer);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer .social-link {
  margin-top: 20px;
}

.footer .social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list-link:hover,
.footer .social-list-link:focus {
  background: var(--accent--color);
}

.footer .social-list-link:hover .social-icon,
.footer .social-list-link:focus .social-icon {
  fill: #ffffff;
}

.footer .social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-contacts {
  margin-right: 70px;
}

.contacts-list .item {
  color: #ffffff;
  text-decoration: none;
}

.contacts-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.tel {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel:hover, .tel:focus {
  color: var(--accent--color);
}

.mail {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover, .mail:focus {
  color: var(--accent--color);
}

.join {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription-list {
  margin-left: 93px;
}

.subscription-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-top: 20px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  fill: #ffffff;
}

.portfolio-main {
  background: #ffffff;
  letter-spacing: 0.03em;
}

/* ПРОЕКТЫ */
.projects-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-section .link {
  display: block;
  border: 1px solid #eeeeee;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects .item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.projects .title {
  color: var(--title-text-collor);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects .text {
  color: var(--primery-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.projects .link:hover,
.projects .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .link:hover .overlay,
.projects .link:focus .overlay {
  transform: translateY(0%);
}

.projects-name {
  padding: 20px 24px;
  background: #ffffff;
}

.project-list-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear;
}

.filter-botton {
  border: none;
  padding: 6px 22px;
  background-color: var(--bcg-filter-botton);
  color: var(--text-filter-botton);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-botton:hover, .filter-botton:focus {
  background: var(--activ-filter-botton);
  color: var(--text-hover-filter-botton);
  border: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.contact-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 200px;
  height: 50px;
  border: none;
}

.contact-form-btn:hover, .contact-form-btn:focus {
  background-color: #188ce8;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-input-btn {
  position: relative;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: ackground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 62px 10px 29px;
  width: 200px;
  height: 50px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.06em;
}

.footer-input-btn:hover, .footer-input-btn:focus {
  background-color: #188ce8;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-list {
  display: flex;
  justify-content: center;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}

.filter-button-container {
  margin-bottom: 50px;
}

.social-link {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background: var(--accent--color);
}

.social-list-link:hover .social-icon,
.social-list-link:focus .social-icon {
  fill: #ffffff;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
/*# sourceMappingURL=main.css.map */